# Habilitar Reescritura de URL
RewriteEngine On

# Redirigir todas las solicitudes no encontradas al archivo principal (index.html)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]

# Redirigir todo el tráfico HTTP a HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Configurar encabezados para CORS
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "https://deployprojectsdev.github.io"
    Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type, Authorization"
    Header set Access-Control-Allow-Credentials "true"
</IfModule>
